    <!-- Footer -->
    <footer class="page-footer">

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p>{% for phone in site.data.footer.phones %}
                    <a href="tel:{{ phone }}">{{ phone }}</a><br />
                    {% endfor %}</p>
                    <p><a href="mailto:{{ site.data.footer.email }}">{{ site.data.footer.email }}</a></p>
                </div>
                <div class="col-sm">
                    <p class="font-weight-bold">{{ site.data.footer.company }}</p>
                    <p>{% for address_line in site.data.footer.address_lines %}
                    {{ address_line }}<br />
                    {% endfor %}</p>
                    <p>IČ: {{ site.data.footer.ico }}<br />
                    Bankovní spojení: {{ site.data.footer.bank }}</p>
                </div>
                <div class="col-sm"><a href="{{ site.data.footer.facebook }}"><img src="{{ site.baseurl }}/assets/flogo_RGB_HEX-72.png" /></a></div>
            </div>
        </div>

    </footer>
    <!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
