<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126407390-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-126407390-1');
    </script>
    <script>
      window.onscroll = function() {
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
          document.getElementById("quick-nav").style.display = "block";
        } else {
          document.getElementById("quick-nav").style.display = "none";
        }
      }
      
      function goToTop(){
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      }

      function goHome(){
        location.assign("{{ site.baseurl }}/index");
      }
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/common.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon.ico" >
    <!-- custom font RUBIK -->
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet"> 
    <title>{{ site.title }}</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-white container">
      <span>
        <img id="top-logo" src="{{ site.baseurl }}/assets/SD_logo_bitmap_001.jpg" height="100" alt="Spolu dětem" onclick="goHome()"/>
      </span>
      <span class="brand-title font-weight-bold">{{ site.title }}</span>
    </nav>
    <div id="quick-nav">
      <button onclick="goToTop()" id="go-to-top" class="quick-nav-btn btn"><span class="oi oi-chevron-top" title="home" aria-hidden="true"></span></button>
      <button onclick="goHome()" id="go-home" class="quick-nav-btn btn"><span class="oi oi-home" title="home" aria-hidden="true"></span></button>
    </div>
