/* 
Issue #7 FIX: footer placed bottom even for page with not enough content 
inspiration from: https://chrisbracco.com/css-sticky-footer-effect/
but it is not bullet-proof and might not properly work with zooming
*/
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 30rem;
    font-family: 'Rubik', sans-serif !important;
}

.absolute-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/* END OF #7 FIX */

.content {
    color: #6d6d6d;
}

div#quick-nav {
    display: none;
    position: fixed;
    top: 20px; /* Place the quick nav at the bottom of the page */
    right: 20px; /* Place the quick nav 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
};

/* TODO for some weird reason this gets partially ignored, workarounding by direct id locators */
button.quick-nav-btn {
    display: block !important; 
    background-color: #ffffff; 
    color: #7f358a; 
    height: 4rem;
    width: 4rem;
    z-index: 100;
    border: 2px solid;  
    border-radius: 1rem;
    margin-bottom: 5px;
}
/*
button.btn.quick-nav-btn:hover {
    background-color: #7f358a;
}
*/
button#go-to-top {
    display: block !important; 
    background-color: #ffffff;
    color: #7f358a;
    height: 4rem;
    width: 4rem;
    z-index: 100;
    border: 2px solid;  
    border-radius: 1rem;
    margin-bottom: 5px; 
}
button#go-to-top:hover {
    background-color: #7f358a;
}
button#go-home {
    display: block !important; 
    background-color: #ffffff;
    color: #7f358a;
    height: 4rem;
    width: 4rem;
    z-index: 100;
    border: 2px solid;  
    border-radius: 1rem;
}
button#go-home:hover {
    background-color: #7f358a;
}

button.quick-nav-btn span {
    color: #7f358a;
    font-size: 1.5rem; 
}

button.quick-nav-btn:hover span {
    color: #ffffff;
}

h1 {
    color: #ffffff;
    background-color: #7f358a;
    border-radius: 40px;
    text-align: center;
    margin-top: 3rem;
    box-shadow: 2px 2px;
    padding-left: 3rem;
    padding-right: 3rem;
    display: inline-block;
}

.index h1 {
    width: 15rem;
}

h2 {
    text-align: left;
}

h3 {
    text-align: left;
}

.page-footer {
    color: #ffffff;
    background-color: #7f358a;
    padding-top: 2rem;
}

.page-footer a {
    color: #ffffff !important;
}

@media only screen and (min-width: 1000px){
    .brand-title{
        font-size: 3rem !important;
    }
}

.navbar .brand-title {
    color:#e2017b;
    font-size: 2rem;
    line-height: 90%;
    text-align: center;
    flex: auto;
}

img#top-logo {
    cursor: pointer;
}

table {
    text-align: left;
}

th {
    padding-right: 2rem;
}

.penize table {
    border: 2px #6d6d6d solid;
    margin-bottom: 1rem;
}

.penize th {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-left: 2px #6d6d6d solid;
    border-bottom: 2px #6d6d6d solid;
}

.penize th:nth-child(2n) {
    border-left-style: none;
}

.penize td {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border: 1px #6d6d6d solid;
}

.penize td:nth-child(2n+1) {
    border-left-width: 2px;
}

.penize td:last-child {
    border-bottom-style: none;
    border-top-style: none;
}

.penize tr:last-child td {
    border-top: 2px solid;
}

.penize code {
    color: #6d6d6d;
}
