.content {
    color: #6d6d6d;
}

h1 {
    color: #ffffff;
    background-color: #7f358a;
    border-radius: 40px;
    width: 200px;
    text-align: center;
    margin-top: 3rem;
    box-shadow: 2px 2px;
}

.page-footer {
    color: #ffffff;
    background-color: #7f358a;
    padding-top: 2rem;
}

.page-footer a {
    color: #ffffff !important;
}

.navbar .brand-title {
    color:#e2017b;
    font-size: 3rem;
}